<!DOCTYPE html>
<section class="footer" id="footer">
    <div class="container">
        <div class="footer__wrapper">
            <!-- Links -->
            <div class="footer__links">
                <a href="#!" class="footer__logo contactsLogo">Дитячий садок №28</a>
                <span class="footer__wasp"></span>

                <div class="footer__social">

                    <a href="#!" class="footer__inst">
                        <i class="ri-instagram-line"></i>
                    </a>

                    <a href="https://www.facebook.com/profile.php?id=100035120799894" target="_blank"
                        class="footer__facebook">
                        <i class="ri-facebook-line"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UC8O8dt3Q4MQjUlRnzGh3XqA" target="_blank"
                        class="footer__youtube">
                        <i class="ri-youtube-fill"></i>

                    </a>
                </div>



            </div>

            <!-- Contacts -->
            <div class="footer__contacts">
                <h4 class="contactsOur">Наші контакти</h4>

                <div class="contacts">
                    <div class="contact-item">
                        <p>+38 033 226 46 93</p>
                    </div>
                </div>
            </div>

            <!-- Grafic -->
            <div class="footer__graph">
                <h4 class="contactsSchedule">Графік роботи</h4>

                <div class="graphs">
                    <p><span>Пн-Пт: (Mon-Fri)</span> 7:40–19:30</p>
                    <p><span>Сб: (Sat)</span> Вихідний (Weekend)</p>
                    <p><span>Нд (Sun) —</span> Вихідний (Weekend)</p>
                </div>
            </div>

            <!-- adress -->
            <div class="footer__adress">

                <h4 class="contactsAdress">Місце розташування закладу</h4>

                <div class="address1">
                    <p class="address">Волинська область, місто Луцьк, вул. Володимира Івасюка</p>
                </div>
            </div>


        </div>
    </div>
</section>
<iframe class="footer__map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31149.88862090032!2d25.297637217106615!3d50.742652972262036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47259998b02296dd%3A0xcea194cb635692c8!2z0JTQuNGC0Y_Rh9C40Lkg0YHQsNC00L7QuiDihJYyOCAi0JLRg9C70LjQuiI!5e0!3m2!1suk!2sua!4v1713211018711!5m2!1suk!2sua"
    width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>