<!DOCTYPE html>
<section class="counter">
    <div class="counter__wrapper">
        <div class="counter-block">
            <h1 class="count" data-target="10">0</h1>
            <p class="counter1">Вихователів</p>
        </div>

        <div class="counter-block">
            <h1 class="count" data-target="120">0</h1>
            <p class="counter2">Кількість дітей</p>
        </div>

        <div class="counter-block">
            <h1 class="count" data-target="20">0</h1>
            <p class="counter3">Завідувачів</p>
        </div>
        <!-- 
        <div class="counter-block">
            <h1 class="count" data-target="40">0</h1>
            <p class="counter4">Нові відвідувачі кожного тижня</p>
        </div>

        <div class="counter-block">
            <h1 class="count" data-target="120">0</h1>
            <p class="counter5">Нові відвідувачі кожного місяця</p>
        </div> -->
    </div>
</section>