<!DOCTYPE html>
<section class="gallery" id="gallery">
    <input type="radio" name="Photos" id="check1">
    <input type="radio" name="Photos" id="check2">
    <input type="radio" name="Photos" id="check3">
    <input type="radio" name="Photos" id="check4">
    <input type="radio" name="Photos" id="check5">
    <input type="radio" name="Photos" id="check6">
    <input type="radio" name="Photos" id="check7">
    <input type="radio" name="Photos" id="check8">
    <!-- <input type="radio" name="Photos" id="check4"> -->

    <div class="container2">
        <h1 class="galleryTitle">Наша галерея</h1>
        <div class="top-content">
            <!-- <h3>Photo Gallary</h3> -->
            <label for="check1" class="active">Всі</label>
            <!-- <label for="check2">Додаткові</label> -->
            <label for="check3">Ромашка</label>
            <label for="check4">Фіалка</label>
            <label for="check5">Волошка</label>
            <label for="check6">Сонечко</label>
            <label for="check7">Барвінок</label>
            <label for="check8">---</label>
            <!--<label for="check4">Група 6</label> -->
        </div>

        <div class="gallery__photos">
            <a href="./docs/img/gallery/gallary-photo1.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo1.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo2.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo2.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo3.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo3.jpg" alt="">

            </a>

            <a href="./docs/img/gallery/gallary-photo4.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo4.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo5.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo5.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo6.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo6.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo7.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo7.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo8.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo8.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo9.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo9.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/gallary-photo10.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo10.jpg" alt="">

            </a>

            <a href="./docs/img/gallery/gallary-photo11.jpg" class="pic add">
                <img data-src="./docs/img/gallery/gallary-photo11.jpg" alt="">
            </a>

            <!-- Romashka -->

            <a href="./docs/img/gallery/romashka1.jpg" class="pic romashka">
                <img data-src="./docs/img/gallery/romashka1.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/romashka2.jpg" class="pic romashka">
                <img data-src="./docs/img/gallery/romashka2.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/romashka3.jpg" class="pic romashka">
                <img data-src="./docs/img/gallery/romashka3.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/romashka4.jpg" class="pic romashka">
                <img data-src="./docs/img/gallery/romashka4.jpg" alt="">
            </a>

            <!-- Fialka -->

            <a href="./docs/img/gallery/fialka1.jpg" class="pic fialka">
                <img data-src="./docs/img/gallery/fialka1.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/fialka2.jpg" class="pic fialka">
                <img data-src="./docs/img/gallery/fialka2.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/fialka3.jpg" class="pic fialka">
                <img data-src="./docs/img/gallery/fialka3.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/fialka4.jpg" class="pic fialka">
                <img data-src="./docs/img/gallery/fialka4.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/fialka5.jpg" class="pic fialka">
                <img data-src="./docs/img/gallery/fialka5.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/fialka6.jpg" class="pic fialka">
                <img data-src="./docs/img/gallery/fialka6.jpg" alt="">
            </a>

            <!-- Voloshka -->

            <a href="./docs/img/gallery/voloshka1.jpg" class="pic voloshka">
                <img data-src="./docs/img/gallery/voloshka1.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/voloshka2.jpg" class="pic voloshka">
                <img data-src="./docs/img/gallery/voloshka2.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/voloshka3.jpg" class="pic voloshka">
                <img data-src="./docs/img/gallery/voloshka3.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/voloshka4.jpg" class="pic voloshka">
                <img data-src="./docs/img/gallery/voloshka4.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/voloshka5.jpg" class="pic voloshka">
                <img data-src="./docs/img/gallery/voloshka5.jpg" alt="">
            </a>

            <!-- Sonechko -->

            <a href="./docs/img/gallery/sonechko1.jpg" class="pic sonechko">
                <img data-src="./docs/img/gallery/sonechko1.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/sonechko2.jpg" class="pic sonechko">
                <img data-src="./docs/img/gallery/sonechko2.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/sonechko3.jpg" class="pic sonechko">
                <img data-src="./docs/img/gallery/sonechko3.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/sonechko4.jpg" class="pic sonechko">
                <img data-src="./docs/img/gallery/sonechko4.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/sonechko5.jpg" class="pic sonechko">
                <img data-src="./docs/img/gallery/sonechko5.jpg" alt="">
            </a>

            <!-- Barvinok -->

            <a href="./docs/img/gallery/barvinok1.jpg" class="pic barvinok">
                <img data-src="./docs/img/gallery/barvinok1.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/barvinok2.jpg" class="pic barvinok">
                <img data-src="./docs/img/gallery/barvinok2.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/barvinok3.jpg" class="pic barvinok">
                <img data-src="./docs/img/gallery/barvinok3.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/barvinok4.jpg" class="pic barvinok">
                <img data-src="./docs/img/gallery/barvinok4.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/barvinok5.jpg" class="pic barvinok">
                <img data-src="./docs/img/gallery/barvinok5.jpg" alt="">
            </a>

            <a href="./docs/img/gallery/barvinok6.jpg" class="pic barvinok">
                <img data-src="./docs/img/gallery/barvinok6.jpg" alt="">
            </a>

        </div>
    </div>
</section>