<!DOCTYPE html>
<!-- Main block -->
<section class="header" id="general">
    <!-- Header блок -->

    <!-- carousel -->
    <div class="carousel">
        <div class="carousel__list">
            <div class="carousel__item">
                <div class="header__video-slider">
                    <video class="video-slider curve active" src="./docs/img/background-video.mp4" autoplay muted
                        loop></video>
                </div>
                <!--  -->

                <div class="carousel__content">
                    <div class="local">місто Луцьк | Волинська область</div>
                    <br>
                    <span class="title">Вас вітає дошкільний навчальний заклад</span>
                    <span class="titleNumber">№28 Вулик</span>
                    <div class="titleinfo1">компенсуючого типу для дітей з
                        вадами розвитк</div>
                </div>


            </div>

            <div class="carousel__item">
                <div class="header__video-slider">
                    <video class="video-slider curve" src="./docs/img/background-bee2.mp4" autoplay muted loop></video>
                </div>
                <!--  -->

                <div class="carousel__content">
                    <div class="local local1">місто Луцьк | Волинська область</div>
                    <br>
                    <span class="title title-1">Вас вітає дошкільний навчальний заклад</span>
                    <span class="titleNumber">№28 Вулик</span>
                    <div class="titleinfo1 titleinfo2">компенсуючого типу для дітей з
                        вадами розвитк</div>
                </div>
            </div>

        </div>


        <div class="thumbnail">
            <div class="thumbnail__item">
            </div>

            <div class="thumbnail__item">

            </div>
        </div>


        <div class="arrows">
            <button id="prev">
                <i class="ri-arrow-left-line"></i>
            </button>
            <button id="next"><i class="ri-arrow-right-line"></i></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>

</section>