<!DOCTYPE html>

<body>
    <section class="info" id="info">
        <div class="container">
            <div class="info__schedule">
                <h1 class="infoTitle">Режим дня</h1>

                <div class="schedule">
                    <div class="schedule__list">
                        <div class="schedule__item animate__animated ">
                            <div class="schedule__titme">Молодша група: 7.30-8.30</div>
                            <div class="schedule__titme">Середня група: 7.30-8.30</div>
                            <div class="schedule__titme">Старша група: 7.30-8.30</div>
                            <p class="schedule__descript scheduleDescrip1">Зустріч дітей на території закладу, огляд,
                                ігри, самостійна діяльність за вибором.
                                Температурний скринінг
                            </p>
                        </div>

                        <div class="schedule__item animate__animated ">
                            <div class="schedule__titme">Молодша група: 8.15-8.20</div>
                            <div class="schedule__titme">Середня група: 8.20-8.30</div>
                            <div class="schedule__titme">Старша група: 8.00-8.10</div>
                            <p class="schedule__descript scheduleDescrip2">Ранкова гімнастика</p>
                        </div>

                        <div class="schedule__item animate__animated ">
                            <div class="schedule__titme">Молодша група: 8.30-9.00</div>
                            <div class="schedule__titme">Середня група: 8.30-8.50</div>
                            <div class="schedule__titme">Старша група: 8.30-8.50</div>
                            <p class="schedule__descript scheduleDescrip3">Підготовка до сніданку, сніданок</p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 9.00-10.30</div>
                            <div class="schedule__titme">Середня група: 8.50-10.40</div>
                            <div class="schedule__titme">Старша група: 8.50-10.40</div>
                            <p class="schedule__descript scheduleDescrip4">Ігри, підготовка до занять, заняття
                                колективні та індивідуальні, самостійна діяльність за вибором дітей
                            </p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 10.30-12.00</div>
                            <div class="schedule__titme">Середня група: 10.55-12.20</div>
                            <div class="schedule__titme">Старша група: 10.40-12.20</div>
                            <p class="schedule__descript scheduleDescrip5">Підготовка до прогулянки, прогулянка,
                                індивідуальні заняття
                            </p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 12.00-13.00</div>
                            <div class="schedule__titme">Середня група: 12.20-13.00</div>
                            <div class="schedule__titme">Старша група: 12.20-13.00</div>
                            <p class="schedule__descript scheduleDescrip6">Повернення з прогулянки, підготовка до
                                обіду, обід
                            </p>
                        </div>


                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 13.00-15.15</div>
                            <div class="schedule__titme">Середня група: 13.00-15.00</div>
                            <div class="schedule__titme">Старша група: 13.00-15.00</div>
                            <p class="schedule__descript scheduleDescrip7">Підготовка до сну, сон</p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 15.15-15.30</div>
                            <div class="schedule__titme">Середня група: 15.00-15.10</div>
                            <div class="schedule__titme">Старша група: 15.00-15.10</div>v>
                            <p class="schedule__descript scheduleDescrip8">Поступовий підйом,оздоровчі процедури</p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 15.30-17.00</div>
                            <div class="schedule__titme">Середня група: 15.10-17.30</div>
                            <div class="schedule__titme">Старша група: 15.10-17.00</div>
                            <p class="schedule__descript scheduleDescrip9">Полуденок. Освітні заходи, самостійна
                                діяльність, ігри
                            </p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 17.00-19.00</div>
                            <div class="schedule__titme">Середня група: 17.30-18.30</div>
                            <div class="schedule__titme">Старша група: 17.00-19.00</div>
                            <p class="schedule__descript scheduleDescrip10">Підготовка до прогулянки, прогулянка, ігри,
                                самостійна діяльність

                            </p>
                        </div>

                        <div class="schedule__item">
                            <div class="schedule__titme">Молодша група: 19.00-19.30</div>
                            <div class="schedule__titme">Середня група: 19.00-19.30</div>
                            <div class="schedule__titme">Старша група: 19.00-19.30</div>
                            <p class="schedule__descript scheduleDescrip11">Повернення з прогулянки, ігри,самостійна
                                діяльність, робота з батьками
                            </p>
                        </div>


                    </div>
                </div>



                <div class="info__modal-info">
                    <ul class="info__modal-list">
                        <div class="info__modal-item" data-target="modal1">
                            <a href="#!" class="schedule-link schedule1">Розклад дня</a>
                        </div>

                        <div class="info__modal-item" data-target="modal2">
                            <a href="#!" class="schedule-link meals">Харчування</a>
                        </div>

                        <div class="info__modal-item" data-target="modal3">
                            <a href="#!" class="schedule-link payment">Оплата</a>
                        </div>
                    </ul>
                </div>

                <!-- Modal window -->
                <div class="info__modal-block">
                    <div id="modal1" class="modal">
                        <div class="modal__content">
                            <div class="modal__wrapper">
                                <div class="modal__tabs">
                                    <h3 class="active">Понеділок <span>Monday</span></h3>
                                    <h3>Вівторок <span>Tuesday</span></h3>
                                    <h3>Середа <span>Wednesday</span></h3>
                                    <h3>Четвер <span>Thursday</span></h3>
                                    <h3>П'ятниця <span>Friday</span></h3>
                                </div>
                                <div class="modal__tabs-content">
                                    <span class="close">&times;</span>
                                    <div class="active">
                                        <h4>Розклад дня <span style="opacity: 0.7;">(Schedule)</span></h4>
                                        <p class="scheduleMonday"><br></p>

                                    </div>

                                    <div>
                                        <h4>Розклад дня <span style="opacity: 0.7;">(Schedule)</span></h4>

                                        <p class="scheduleTuesday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Розклад дня <span style="opacity: 0.7;">(Schedule)</span></h4>

                                        <p class="scheduleWednesday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Розклад дня <span style="opacity: 0.7;">(Schedule)</span></h4>

                                        <p class="scheduleThursday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Розклад дня <span style="opacity: 0.7;">(Schedule)</span></h4>

                                        <p class="scheduleFriday"><br></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="modal2" class="modal">
                        <div class="modal__content">
                            <div class="modal__wrapper">
                                <div class="modal__tabs">
                                    <h3 class="active">Понеділок <span>Monday</span></h3>
                                    <h3>Вівторок <span>Tuesday</span></h3>
                                    <h3>Середа <span>Wednesday</span></h3>
                                    <h3>Четвер <span>Thursday</span></h3>
                                    <h3>П'ятниця <span>Friday</span></h3>
                                </div>
                                <div class="modal__tabs-content">
                                    <span class="close">&times;</span>
                                    <div class="active">
                                        <h4>Харчування<span style="opacity: 0.7;">(Food)</span></h4>

                                        <p class="foodMonday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Харчування<span style="opacity: 0.7;">(Food)</span></h4>

                                        <p class="foodTuesday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Харчування<span style="opacity: 0.7;">(Food)</span></h4>

                                        <p class="foodWednesday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Харчування<span style="opacity: 0.7;">(Food)</span></h4>

                                        <p class="foodThursday"><br></p>
                                    </div>

                                    <div>
                                        <h4>Харчування<span style="opacity: 0.7;">(Food)</span></h4>

                                        <p class="foodFriday"><br></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal3" class="modal">
                        <div class="modal__content2">
                            <div class="modal__wrapper2">
                                <div class="modal__head">
                                    <p class="modal__head-tittle">Оплата</p>
                                    <span class="close">&times;</span>
                                </div>

                                <div class="modal__tabs-content2">
                                    <h4>Шановні батьки</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, nihil.
                                        Accusantium
                                        dolorum quisquam officia nihil, eius velit placeat voluptate sunt numquam
                                        deleniti, sit natus quas fugit. Consequuntur saepe aliquam voluptas.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <a href="./docs/img/Режим роботи.docx"
                style="z-index: 999; display: flex; justify-content: center; padding-bottom: 20px; font-weight: 600; margin-top: -30px;"
                target="_blank">Переглянути
                режим роботи</a>
        </div>
    </section>
</body>