<!DOCTYPE html>
<!-- Головне меню сайта -->

<body>
    <nav class="nav">

        <div class="container">
            <div class="nav__wrapper">
                <a href="index.html" class="nav__logo navLink">Дитячий садок "Вулик"</a>
                <span class="nav__wasp"></span>
                <!-- Menu -->

                <div class="menu">
                    <div class="menu__head">
                        <div class="nav__logo">Вулик</div>

                        <button type="button" class="menu-close-btn"></button>
                    </div>
                    <!--  -->
                    <ul>
                        <!-- <li><a href="#general" class="navLink active" data-load="true">Головна</a>
                        </li> -->
                        <li><a href="#about" class="aboutMenu">Про нас</a></li>
                        <li><a href="#offer" class="offersMenu">Пропозиції</a></li>
                        <li><a href="#info" class="scheduleMenu">Режим дня</a></li>
                        <li><a href="#teacher" class="teachersMenu">Вихователі</a></li>
                        <li><a href="#program" class="programsMenu">Програма</a></li>
                        <li class="dropdown">
                            <a href="#" class="parentsMenu">Батькам</a>
                            <i class="ri-arrow-down-s-line"></i>
                            <ul class="sub-menu">
                                <li class="dropdown">
                                    <a href="parents.html" class="navLink forParents" data-type="parents"
                                        data-load="true"><span>Для Вас,
                                            Батьки</span></a>
                                    <i class="ri-arrow-down-s-line"></i>
                                    <ul class="sub-menu sub-menu-right">
                                        <li><a href="parents.html" class="rulesAdmission"><span>Правила зарахування до
                                                    закладу</span></a></li>
                                        <li><a href="parents.html" class="pointConsultation"><span>Консультативний
                                                    пункт</span></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="public.html" class="navLink pulicInfo" data-type="public"
                                        data-load="true"><span>Публічна
                                            інформація</span></a>
                                    <i class="ri-arrow-down-s-line"></i>
                                    <ul class="sub-menu sub-menu-right">
                                        <li><a href="public.html" class="charter"><span>Статут</span></a></li>
                                        <li><a href="public.html" class="budget"><span>Кошторис</span></a></li>
                                        <li><a href="public.html" class="programsEducation"><span>Освітні
                                                    програми</span></a></li>
                                        <li><a href="public.html" class="languageEducation"><span>Мова освітнього
                                                    процесу</span></a></li>
                                        <li><a href="public.html" class="annualReport"><span>Річний звіт</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- <li><a href="#teacher">Вихователі</a></li> -->
                        <li><a href="#gallery" class="galleryMenu">Галерея</a></li>
                        <li class="dropdown">
                            <a href="#" class="baseMenu">Довідкова база</a>
                            <i class="ri-arrow-down-s-line"></i>
                            <ul class="sub-menu">
                                <li class="dropdown">
                                    <a href="groups.html" class="networkGroups"><span>Мережа груп</span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="legislation.html" class="navLink legislativeFramework"
                                        data-type="legislation" data-load="true"><span>Нормативно-правова
                                            база</span></a>
                                    <i class="ri-arrow-down-s-line"></i>
                                    <ul class="sub-menu sub-menu-left">
                                        <li><a href="legislation.html" class="lawsUkraine"><span>Закони
                                                    України</span></a></li>
                                        <li><a href="legislation.html" class="cabinetMinisters"><span>Постанови
                                                    КМУ</span></a></li>
                                        <li><a href="legislation.html" class="scienceMeetings"><span>Наради
                                                    МОН</span></a></li>
                                        <li><a href="legislation.html" class="scienceLetters"><span>Листи МОН</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="advice.html" class="navLink expertAdvice"><span>Поради фахівців</span></a>
                                    <i class="ri-arrow-down-s-line"></i>
                                    <ul class="sub-menu sub-menu-left">
                                        <li><a href="advice.html" class="psychologist"><span>Практичний
                                                    психолог</span></a></li>
                                        <li><a href="advice.html" class="peInstructor"><span>Інструктор з фізичного
                                                    виховання</span></a></li>
                                        <li><a href="advice.html" class="musicInstructor"><span>Керівник
                                                    музичний</span></a></li>
                                        <li><a href="advice.html" class="nurseMedical"><span>Сестра медична</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#footer" class="contactsMenu">Контакти</a></li>
                    </ul>
                </div>

                <!--  -->
                <div class="nav-right container">
                    <button type="button" class="nav-open-menu">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </button>
                </div>
            </div>

        </div>
    </nav>
</body>