<!DOCTYPE html>
<!-- <div class="parallax__offers"> -->

<section class="offers lazyload" id="offer">
    <div class="offers__icons">
        <div></div>
    </div>

    <div class="offers__content-wrap">
        <div class="container">
            <h1 class="offers__title">Наші пропозиції</h1>
            <div class="offers__blocks">
                <div class="offers__right swiper mySwiper">
                    <ul class="offers__list swiper-wrapper">
                        <li class="offers__item swiper-slide">
                            <h3 class="offersHead1">Здорове харчування</h3>
                            <p class="offersDescript1"></p>
                        </li>

                        <li class="offers__item swiper-slide">
                            <h3 class="offersHead2">Фізична активність</h3>
                            <p class="offersDescript2"></p>
                        </li>

                        <li class="offers__item swiper-slide">
                            <h3 class="offersHead3">Розвиток творчих здібностей</h3>
                            <p class="offersDescript3"></p>
                        </li>

                        <li class="offers__item swiper-slide">
                            <h3 class="offersHead4">Екологічна освіта</h3>
                            <p class="offersDescript4"></p>
                        </li>

                        <li class="offers__item swiper-slide">
                            <h3 class="offersHead5">Інтелектуальний розвиток</h3>
                            <p class="offersDescript5"></p>
                        </li>

                        <li class="offers__item swiper-slide">
                            <h3 class="offersHead6">Соціалізація та емоційний розвиток</h3>
                            <p class="offersDescript6"></p>
                        </li>

                    </ul>


                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        <aside class="sidebar">
            <div class="events">
                <h1 class="eventstitle"
                    style="color: rgba(89, 104, 118, 0.656); font-size: 30px; justify-content: center;">
                </h1>
                <div class="sidebar__blocks">
                    <div class="sidebar__block">
                        <div class="sidebar__below">
                            <span class="eventsHead1">П'ЯТНИЦЯ 1 ВЕРЕСНЯ</span>
                            <h5 class="eventsParty1">Перший дзвоник</h5>

                            <div class="sidebar__time">
                                <i class="ri-time-line"></i>
                                <p>09:00 - 10:00</p>
                            </div>

                            <div class="sidebar__place">
                                <i class="ri-pushpin-line"></i>
                                <p class="eventsdestanition1">Луцьк</p>
                            </div>
                            <p class="event_desc"></p>
                        </div>
                    </div>
                    <br>
                    <div class="sidebar__block">
                        <div class="sidebar__below">
                            <span class="eventsHead2">П'ЯТНИЦЯ 1 ВЕРЕСНЯ</span>
                            <h5 class="eventsParty2">Перший дзвоник</h5>

                            <div class="sidebar__time">
                                <i class="ri-time-line"></i>
                                <p>09:00 - 10:00</p>
                            </div>

                            <div class="sidebar__place">
                                <i class="ri-pushpin-line"></i>
                                <p class="eventsdestanition2">Луцьк</p>
                            </div>
                            <p class="event_desc"></p>
                        </div>
                    </div>
                    <!-- <a href="events.html" class="sidebar__btn eventsMore">Більше</a> -->
                </div>

            </div>


        </aside>
    </div>
</section>