<!DOCTYPE html>
<section class="programs" id="program">
    <!-- іконки для заднього фона -->
    <div class="programs__imagesBg">
        <img src="./docs/img/1.png" data-speed="3" class="layer" alt="">
        <img src="./docs/img/2.png" data-speed="2" class="layer" alt="">
        <img src="./docs/img/3.png" data-speed="-2" class="layer" alt="">
        <img src="./docs/img/4.png" data-speed="2" class="layer" alt="">
        <img src="./docs/img/5.png" data-speed="2" class="layer" alt="">
        <img src="./docs/img/6.png" data-speed="-4" class="layer" alt="" style="margin-top: -200px;">
        <img src="./docs/img/7.png" data-speed="2" class="layer" alt="">
        <img src="./docs/img/12.png" data-speed="2" class="layer" alt="" style="margin-top: 100px;">
        <img src="./docs/img/9.png" data-speed="-1" class="layer" alt="">
        <img src="./docs/img/10.png" data-speed="3" class="layer" alt="">
        <img src="./docs/img/11.png" data-speed="6" class="layer" alt="">
    </div>
    <div class="container">
        <div class="programs__text">
            <h1 class="programsTitle">Наша програма</h1>
            <h5 class="programDescrip">Ми віддані турботі та освіті</h5>
        </div>
        <!--  -->

        <div class="programs__wrapper">
            <i id="left" class="ri-arrow-left-line"></i>
            <div class="programs__carousel">
                <div class="programs__card" style="--cir: #009688">
                    <div class="imgBx">
                        <img src="https://images.unian.net/photos/2021_07/thumb_files/400_0_1625489702-2646.jpg?r=456483"
                            alt="" draggable="false">
                    </div>

                    <div class="programs__content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

                <div class="programs__card" style="--cir: #ff3e7f">
                    <div class="imgBx">
                        <img src="https://www.canr.msu.edu/contentAsset/image/613ecf12-91f1-4292-8ec2-d1feb5547a9d/fileAsset/filter/Resize,Crop,Jpeg/resize_w/600/crop_w/600/crop_h/400/crop_x/0/crop_y/0/jpeg_q/70"
                            alt="" draggable="false">
                    </div>

                    <div class="programs__content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

                <div class="programs__card" style="--cir: #03a9f4">
                    <div class="imgBx">
                        <img src="https://cdn.britannica.com/51/141451-050-E76A9D3B/Kindergarten-classroom.jpg" alt=""
                            draggable="false">
                    </div>

                    <div class="programs__content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

                <div class="programs__card" style="--cir: #03a9f4">
                    <div class="imgBx">
                        <img src="https://www.usnews.com/dims4/USNEWS/0b33e1f/2147483647/thumbnail/970x647/quality/85/?url=https%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F12%2F35%2F5d2a6346487093c8ceff66e7666a%2Fgettyimages-1367212888.jpg"
                            alt="" draggable="false">
                    </div>

                    <div class="programs__content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

                <div class="programs__card" style="--cir: #03a9f4">
                    <div class="imgBx">
                        <img src="https://www.vmcdn.ca/f/files/sasktoday/images/stock-images/preschooler-painting-and-coloring.jpg"
                            alt="" draggable="false">
                    </div>

                    <div class="programs__content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

                <div class="programs__card" style="--cir: #03a9f4">
                    <div class="imgBx">
                        <img src="https://dht7q8fif4gks.cloudfront.net/2023-08/generic_school_discover_airdrie.jpg"
                            alt="" draggable="false">
                    </div>

                    <div class="programs__content">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>

            </div>
            <i id="right" class="ri-arrow-right-line"></i>
        </div>
    </div>
</section>