<!DOCTYPE html>
<section class="teachers" id="teacher">
    <div>
        <!-- <img class="teachers-img3" src="/img/misc-7.svg" alt=""> -->
    </div>

    <div class="container">

        <div class="teachers__text">
            <h1 class="teachersTitle">Наші вихователі</h1>
        </div>

        <div class="teachers__cards">
            <div class="teachers__card card-teachers" data-name="modal-1">
                <div class="teachers__imagBx">
                    <img src="./docs/img/teachers/teacher1.jpg" alt="" draggable="false" class="card-img">
                    <div class="plus"></div>
                </div>

                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Новосад Оксана Василівна</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-2">
                <img src="./docs/img/teachers/teacher2.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum fugiat odio illo quam
                        distinctio rem maiores inventore culpa necessitatibus consequatur! Accusamus id error nobis,
                    </p>
                    <div class="teachers__social">
                        <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i>
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Корніцька Ірина Володимирівна</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-3">
                <img src="./docs/img/teachers/teacher3.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum fugiat odio illo quam
                        distinctio rem maiores inventore culpa necessitatibus consequatur! Accusamus id error nobis,
                    </p>
                    <div class="teachers__social">
                        <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i>
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Савула Оксана Семенівна</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-4">
                <img src="./docs/img/teachers/teacher4.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Вихователь «спеціаліст першої категорії»</p>
                    <div class="teachers__social">
                        <!-- <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i> -->
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Токарчук Людмила Костянтинівна</p>
                    </div>
                </div>

            </div>

            <!-- Not working -->
            <div class="teachers__card card-teachers" data-name="modal-6">
                <!-- <img src="./docs/img/teachers/teacher5.jpg" alt="" draggable="false" class="card-img"> -->


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum fugiat odio illo quam
                        distinctio rem maiores inventore culpa necessitatibus consequatur! Accusamus id error nobis,
                    </p>
                    <div class="teachers__social">
                        <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i>
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Anatoliy Marchenko</p>
                    </div>
                </div>

            </div>
            <!-- ------ -->

            <div class="teachers__card card-teachers" data-name="modal-7">
                <div class="teachers__imagBx">
                    <img src="./docs/img/teachers/teacher5.jpg" alt="" draggable="false" class="card-img">

                </div>


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Вихователь «спеціаліст вищої категорії»</p>
                    <div class="teachers__social">
                        <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i>
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Бащук Людмила Степанівна</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-8">
                <img src="./docs/img/teachers/teacher6.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum fugiat odio illo quam
                        distinctio rem maiores inventore culpa necessitatibus consequatur! Accusamus id error nobis,
                    </p>
                    <div class="teachers__social">
                        <!-- <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i> -->
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>ПШИГАЛІНСЬКА НАТАЛІЯ ФЕДОРІВНА</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-9">
                <img src="./docs/img/teachers/teacher7.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum fugiat odio illo quam
                        distinctio rem maiores inventore culpa necessitatibus consequatur! Accusamus id error nobis,
                    </p>
                    <div class="teachers__social">
                        <!-- <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i> -->
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Стельмащук Оксана Анатоліїна</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-10">
                <img src="./docs/img/teachers/teacher10.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Вчитель-логопед, «спеціаліст вищої категорії»</p>
                    <div class="teachers__social">

                        <!-- <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i> -->
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Гуменюк Алла Миколаївна</p>
                    </div>
                </div>

            </div>

            <div class="teachers__card card-teachers" data-name="modal-11">
                <img src="./docs/img/teachers/teacher11.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Вихователь «спеціаліст»</p>
                    <div class="teachers__social">

                        <!-- <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i> -->
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Нейлі Оксана Романівна</p>
                    </div>
                </div>

            </div>


            <div class="teachers__card card-teachers" data-name="modal-12">
                <img src="./docs/img/teachers/teacher12.jpg" alt="" draggable="false" class="card-img">


                <input type="checkbox">
                <div class="toggle">+</div>

                <div class="teachers__content">
                    <p>Вихователь «спеціаліст»</p>
                    <div class="teachers__social">

                        <!-- <i class="ri-instagram-line"></i>
                        <i class="ri-telegram-line"></i>
                        <i class="ri-phone-line"></i> -->
                    </div>

                </div>
                <div class="teachers__init">
                    <div class="teachers__title">
                        <p>Цюрняк Людмила Святославіна</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal windows with all information about teachers and another -->

        <div class="teachers__preview">
            <div class="preview" data-target="modal-1">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher1.jpg" alt="" draggable="false" class="card-img">
                        <h3>Новосад Оксана Василівна</h3>

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                            <a href="https://youtube.com/channel/UC8O8dt3Q4MQjUlRnzGh3XqA" target="_blank"><i
                                    class="ri-youtube-line" style="background-color: #d21919;"></i></a>

                        </div>
                        <p>Вихователь «спеціаліст першої категорії»</p>
                    </div>

                    <div class="preview__txt">
                        <div>Мої розробки<br>
                            Гра. Малювання. Тема: “Готуємося до Великодня»
                        </div>

                        <div>Мета: Вчити дітей розуміти значення пасхальної атрибутики. Засобами різноманітних
                            дидактичних ігор розвивати увагу та пам’ять. Виховувати любов та повагу до звичаїв рідного
                            народу.
                        </div>

                    </div>

                </div>

            </div>

            <div class="preview" data-target="modal-2">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher2.jpg" alt="" draggable="false" class="card-img">
                        <h3>Корніцька Ірина Володимирівна</h3>

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                        </div>
                        <p>Вихователь «спеціаліст другої категорії»</p>
                    </div>

                    <div class="preview__txt">
                        <!-- <div>
                        </div>

                        <div>
                        </div> -->

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-3">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher3.jpg" alt="" draggable="false" class="card-img">
                        <h3>Савула Оксана Семенівна</h3>

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                            <a href="./docs/img/Savula.docx" target="_blank">Переглянути портфоліо</a>
                        </div>
                        <p>Вчитель-логопед «спеціаліст вищої категорії»,
                            педагогічне звання «старший учитель»
                        </p>
                    </div>

                    <div class="preview__txt">
                        <!-- <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div>

                        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div> -->

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-4">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher4.jpg" alt="" draggable="false" class="card-img">
                        <h3>Токарчук Людмила Костянтинівна</h3>

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                        </div>
                        <p>Вихователь «спеціаліст першої категорії»</p>
                    </div>

                    <div class="preview__txt">
                        <!-- <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div>

                        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div> -->

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-5">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <!-- <img src="./docs/img/teachers/teacher5.jpg" alt="" draggable="false" class="card-img"> -->
                        <!-- <h3>Бащук Людмила Степанівна</h3> -->

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                        </div>
                        <!-- <p>Вихователь «спеціаліст вищої категорії»</p> -->
                    </div>

                    <div class="preview__txt">

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-6">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher5.jpg" alt="" draggable="false" class="card-img">
                        <h3>Бащук Людмила Степанівна</h3>

                        <div class="preview__social">
                            <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem, distinctio
                            praesentium, totam officiis nostrum libero rem, sapiente eveniet voluptatum quia fugiat
                            perspiciatis tempora magni. Minima sunt pariatur perspiciatis.
                        </p>
                    </div>

                    <div class="preview__txt">
                        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div>

                        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div>

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-7">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher5.jpg" alt="" draggable="false" class="card-img">
                        <h3>Бащук Людмила Степанівна</h3>

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                        </div>
                        <p>Вихователь «спеціаліст вищої категорії»</p>
                    </div>

                    <div class="preview__txt">
                        <!-- <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div>

                        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div> -->

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-8">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher6.jpg" alt="" draggable="false" class="card-img">
                        <h3>Пшигалінська Наталія Федорівна</h3>

                        <div class="preview__social">
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                        </div>
                        <p>Вчитель-логопед «спеціаліст першої категорії»</p>
                    </div>

                    <div class="preview__txt">
                        <!-- <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div>

                        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Iure corrupti quaerat unde
                            veritatis
                            maxime? Nemo voluptate id illo architecto quas?Lorem ipsum dolor, sit amet consectetur
                        </div> -->

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-9">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher7.jpg" alt="" draggable="false" class="card-img">
                        <h3>Стельмащук Оксана Анатоліїна</h3>

                        <div class="preview__social">
                            <a href="./docs/img/Стельмащук_О_А_вихователь_групи_Сонечко.doc" target="_blank">Переглянути
                                портфоліо</a>
                            <!-- <i class="ri-instagram-line"></i>
                            <i class="ri-telegram-line"></i>
                            <i class="ri-phone-line"></i> -->
                        </div>
                        <p>Вихователь «спеціаліст»</p>
                    </div>

                    <div class="preview__txt">
                        <div>
                            Мета: ознайомлювати з навколишнім світом. Навчати розрізняти і називати краєвиди території
                            України. Удосконалювати вміння слухати звуки навколишнього середовища (співу птахів,
                            хлюпотіння води). Удосконалювати вміння відповідати на запитання двома-трьома словами.
                            Узагальнити знання про свійських та диких тварин, де вони живуть. Навчати відтворювати сюжет
                            казки, характерезувати внутрiшнiй стан, настрій персонажу, закріплювати чітку вимову.
                            Розвивати дрібну моторику, увагу, спостережливість під час конструювання та аплікації.
                            Виховувати інтерес до пізнання нового, незвичного.
                        </div>

                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-10">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher10.jpg" alt="" draggable="false" class="card-img">
                        <h3>Гуменюк Алла Миколаївна</h3>

                        <div class="preview__social">
                            <a href="https://www.youtube.com/watch?app=desktop&v=uHSQcDAsnCA&ab_channel=%D0%A0%D1%96%D0%B4%D0%BD%D0%B8%D0%B9%D0%92%D1%83%D0%BB%D0%B8%D0%BA%D0%97%D0%94%D0%9E%E2%84%9628%D0%BC.%D0%9B%D1%83%D1%86%D1%8C%D0%BA"
                                target="_blank">Переглянути консультацію для батьків</a>
                        </div>
                        <p>Вчитель-логопед, «спеціаліст вищої категорії»</p>
                    </div>

                    <div class="preview__txt">
                    </div>

                </div>
            </div>

            <div class="preview" data-target="modal-11">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher11.jpg" alt="" draggable="false" class="card-img">
                        <h3>Нейлі Оксана Романівна</h3>

                        <div class="preview__social">
                            <a href="./docs/img/Нейлі О.Р..docx" target="_blank">Переглянути портфоліо</a>
                        </div>
                        <p>Вихователь «спеціаліст»</p>
                    </div>

                    <div class="preview__txt">
                    </div>

                </div>
            </div>


            <div class="preview" data-target="modal-12">
                <div class="preview__info">
                    <span class="close">&times;</span>
                    <div class="preview__imagBx">
                        <img src="./docs/img/teachers/teacher12.jpg" alt="" draggable="false" class="card-img">
                        <h3>Цюрняк Людмила Святославіна</h3>

                        <div class="preview__social">
                            <a href="./docs/img/Цюрняк_Людмила_Святославіна_портф.docx" target="_blank">Переглянути
                                портфоліо</a>
                        </div>
                        <p>Вихователь «спеціаліст вищої категорії»</p>
                    </div>

                    <div class="preview__txt">
                    </div>

                </div>
            </div>
        </div>


        <div id="teachers__load-more" class="teachersMore">Більше</div>
    </div>
</section>